<div class="footer">
    <div class="footer-contents">
        <p>
            {{ site.copyright }}
        </p>
        <p>
            {{ site.title }}の著作権は{{ site:author }}に属します。
        </p>
    </div>
    <script>
        let postedDates = document.getElementsByClassName("posted-date");
        for (let i = 0; i < postedDates.length; i++) {
            let date = postedDates[i].innerText
            if (date != "") {
                let warekiDate = Wareki.date(date)
                postedDates[i].innerText = warekiDate;
            }
        }
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"></script>
    <script>hljs.highlightAll(); hljs.initLineNumbersOnLoad();</script>
</div>