<div class="left sidemenu">
    <a class="home-link" href="/">{{ site.title }}</a>
    <div class="sp-menu-btn">
        <button id="sp-btn-home"><a href="/">ホーム</a></button>
        <button id="sp-btn-archive"><a href="/archives">アーカイブ</a></button>
        <button id="sp-btn-tabs"><a href="/tags">タブ別</a></button>
    </div>
    <div class="sub-menu-area">
        <nav class="basic-menu">
            <a href="/">ホーム</a>
        </nav>
        <nav class="sub-menu">
            <p class="description">
                メニュー
            </p>
            <ul>
                <li><a href="/docs">ドキュメント</a></li>
                <li><a href="/archives">アーカイブ</a></li>
                <li><a href="/tags">タグ別</a></li>
            </ul>
        </nav>
        <nav class="sub-menu">
            <p class="description">
                詳細
            </p>
            <ul>
                <li><a href="/about">{{ site.title }}について</a></li>
            </ul>
        </nav>
    </div>
</div>