<div class="left sidemenu">
    <a class="home-link" href="/">{{ site.title }}</a>
    <div class="sub-menu-area">
        <nav class="basic-menu">
            <a href="/">ホーム</a>
        </nav>
        <nav class="sub-menu">
            <p class="description">
                メニュー
            </p>
            <ul>
                <li><a href="/docs">ドキュメント</a></li>
                <li><a href="/posts">投稿</a></li>
                <li><a href="/archives">アーカイブ</a></li>
            </ul>
        </nav>
        <nav class="sub-menu">
            <p class="description">
                詳細
            </p>
            <ul>
                <li><a href="/about">{{ site.title }}について</a></li>
            </ul>
        </nav>
    </div>
</div>