<div id="sp-menu">
    <div class="NavigationView">
        <a href="/" class="NavigationViewItem column-0">
            <span>ホーム</span>
            <div class="active" id="sp-menu-home"></div>
        </a>
        <a href="/search" class="NavigationViewItem column-1">
            <span>検索</span>
            <div class="active" id="sp-menu-search"></div>
        </a>
        <a href="/archives" class="NavigationViewItem column-2">
            <span>書庫</span>
            <div class="active" id="sp-menu-archive"></div>
        </a>
        <a href="/tags" class="NavigationViewItem column-3">
            <span>タグ別</span>
            <div class="active" id="sp-menu-tags"></div>
        </a>
    </div>
</div>