@import "color.sass"

body
    margin: 0
    position: relative
    blockquote
        margin-left: 0
        padding-left: 40px
        border-left: solid 2px $sumi-200
    table
        border-collapse: separate
        border-spacing: 0
        font-size: .8rem
        border: 1px solid $sumi-200
        thead
            tr
                background-color: $sumi-100
                th
                    border: 1px solid $sumi-200
                    padding: 4px
        tbody
            tr
                td
                    border: 1px solid $sumi-200
                    padding: 4px
                    
    img
        max-width: 100%
    .contents-footer
        footer
            .footer
        .contents
            .prev
                display: inline-block
                text-decoration: unset
                color: $sea-800
                width: 50px
                margin: 32px 0 16px 0
                .prev.button
                    cursor: pointer
                    height: 24px
                    width: 24px
                    padding: 12px
                    text-align: center
                    border-radius: 25px
                    border: solid 1px #d8d8d8
                    transition: .2s
                    &:hover
                        border: solid 1px $sea-800
                        background-color: $sea-50
            .next
                display: inline-block
                text-decoration: unset
                color: $sea-800
                width: 50px
                margin: 32px 0 16px 0
                .next.button
                    cursor: pointer
                    height: 24px
                    width: 24px
                    padding: 12px
                    text-align: center
                    border-radius: 25px
                    border: solid 1px #d8d8d8
                    transition: .2s
                    &:hover
                        border: solid 1px $sea-800
                        background-color: $sea-50
            .main-area
                .main-contents
                    line-height: 1.75
                    .page-title
                        line-height: 1.25
                        margin: 0 0 24px 0
                        margin-top: -4px
                        h1.page-title
                        word-break: break-all
                    time
                        color: $description-color
                    h2
                        margin: 64px 0 24px 0
                        word-break: break-all
                    h3
                        margin: 40px 0 24px 0
                        word-break: break-all
                    h4
                        margin: 40px 0 16px 0
                        word-break: break-all
                    h5
                        margin: 40px 0 16px 0
                        word-break: break-all
                    h6
                        margin: 24px 0 16px 0
                        word-break: break-all

            .sidemenu
                user-select: none
                .home-link
                    font-size: 28px
                    color: $color
                    font-weight: bold
                    text-decoration: unset
                    display: block
                    margin-bottom: 48px
                .basic-menu
                    margin-top: 48px
                    a
                        color: $link
                        font-weight: bold
                        text-decoration: unset
                        &:hover
                            text-decoration: underline
                .sub-menu-area
                    .sub-menu
                        margin-bottom: 40px
                        .description
                            margin-top: 40px
                            color: $description-color
                            font-size: 12px
                            margin-bottom: 12px
                        ul
                            padding-left: 0
                            li
                                display: block
                                margin-bottom: 8px
                                a
                                    color: $color
                                    font-weight: bold
                                    text-decoration: unset
                                    font-size: 14px
                                    &:hover
                                        text-decoration: underline

body
    .contents-footer
        display: grid
        grid-template-rows: auto auto
        footer
            display: grid
            background-color: $sumi-100
            .footer
                margin: 16px
        .contents-margin
            .contents
                grid-row-start: 1
                grid-row-end: span 1
                display: grid
                grid-template-columns: repeat(12, 1fr)
                grid-template-rows: auto 1fr auto
                .main-area
                    grid-column-start: 4
                    grid-column-end: span 12
                    grid-row-start: 1
                    grid-row-end: 2
                .next-prev
                    display: grid
                    grid-template-columns: 2fr auto 1fr auto 2fr
                    grid-row-start: 3
                    grid-row-end: auto
                    grid-column-start: 1
                    grid-column-end: span 12
                    .prev
                        grid-column-start: 2
                        grid-column-end: auto
                    .next
                        grid-column-start: 4
                        grid-column-end: auto
                .sidemenu
                    grid-column-start: 1
                    grid-column-end: 4
                    grid-row-start: 1
                    grid-row-end: 1

@media (prefers-color-scheme: dark)
    body
        blockquote
            border-left: solid 2px $sumi-700
        table
            border: 1px solid $sumi-700
            thead
                tr
                    background-color: $sumi-800
                    th
                        border: 1px solid $sumi-700
            tbody
                tr
                    td
                        border: 1px solid $sumi-700
        .contents-footer
            footer
                background-color: $sumi-900
            .contents
                .prev
                    color: $dark-color
                    .prev.button
                        border: solid 1px #d8d8d8
                        &:hover
                            border: solid 1px $dark-color
                            background-color: $sumi-800
                .next
                    color: $dark-color
                    .next.button
                        border: solid 1px #d8d8d8
                        &:hover
                            border: solid 1px $dark-color
                            background-color: $sumi-800
                .main-area
                    .main-contents
                        time
                            color: $dark-description-color
                .sidemenu
                    .home-link
                        color: $dark-color
                    .basic-menu
                        a
                            color: $dark-link
                    .sub-menu-area
                        .sub-menu
                            .description
                                color: $dark-description-color
                            ul
                                li
                                    a
                                        color: $dark-color


@media screen and (max-width: 910px)
    body
        .contents-footer
            .contents-margin
                .contents
                    .main-area
                        grid-column-start: 4
                        grid-row-start: 1
                    .sidemenu
                        grid-column-start: 1
                        grid-column-end: span 3
                        margin-right: 32px
                        .home-link
                            font-size: 24px
        #aswift_1_host
            width: 100px !important
            #aswift_1
                width: 100% !important


@media screen and (max-width: 600px)
    body
        .contents-footer
            .contents-margin
                .contents
                    .main-area
                        grid-column-start: 1
                        grid-column-end: span 12
                        grid-row-start: 2
                    .sidemenu
                        margin-right: 0px
                        grid-column-start: 1
                        grid-column-end: span12
                        grid-row-start: 1
                        grid-row-end: 1
                        .home-link
                            margin-bottom: 16px
                        .sub-menu-area
                            display: none

@media (max-width: 600px) and (prefers-color-scheme: dark)
    body
        background-color: $smartphone-dark-background !important