body .hljs {
  font-size: 1rem;
  border-radius: 8px;
}
body .hljs table.hljs-ln {
  border: unset;
}
body .hljs table.hljs-ln thead tr {
  background-color: unset;
}
body .hljs table.hljs-ln thead tr th {
  border: unset;
}
body .hljs table.hljs-ln tbody {
  font-size: 1rem;
}
body .hljs table.hljs-ln tbody tr td {
  border: unset;
}
body .hljs table.hljs-ln tbody tr td.hljs-ln-numbers {
  padding: 0 16px 0 16px;
  color: #808080;
  text-align: right;
}

code.hljs {
  font-family: "PlemolJP Console NF", "Cascadia Code", Consolas, "Courier New", monospace;
  font-weight: bold;
}

code.language-plaintext.highlighter-rouge {
  font-family: "PlemolJP Console NF", "Cascadia Code", Consolas, "Courier New", monospace;
  font-weight: bold;
  color: #E74856;
}

@media (prefers-color-scheme: dark) {
  code.language-plaintext.highlighter-rouge {
    color: #E81123;
  }
}
body {
  background-color: #ffffff;
  background-image: linear-gradient(to right bottom, #F9EFF7, #F9EFF9);
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  min-height: 100vh;
  font-family: Helvetica, Arial, "Yu Gothic UI", "BIZ UDPGothic", Meiryo;
  line-height: 1.5;
}

.articles {
  grid-column: 1/span 9;
  margin: 16px;
  word-break: break-all;
}
.articles a {
  color: #D30050;
  text-decoration: unset;
}
.articles article {
  background-color: rgba(255, 255, 255, 0.5019607843);
  border: solid 1px rgba(0, 0, 0, 0.062745098);
  padding: 24px;
  margin-bottom: 8px;
  border-radius: 8px;
}
.articles article .posted-date {
  color: rgba(0, 0, 0, 0.5019607843);
}
.articles .page-title {
  margin-top: 0;
}
.articles .page-title a {
  word-break: break-all;
  color: #000000;
  text-decoration: unset;
  margin-top: 0;
}
.articles img {
  max-width: 100%;
}

.menu-wrapper {
  grid-column: 10/span 3;
  padding-left: 0;
  margin-top: 16px;
}
.menu-wrapper menu {
  margin-top: 0;
  padding: 16px;
  border: solid 1px rgba(0, 0, 0, 0.062745098);
  background: rgba(255, 255, 255, 0.5019607843);
  border-radius: 8px;
}
.menu-wrapper .profile {
  background-image: url(/assets/img/profiles/home-icon-big.png);
  width: 80%;
  padding-top: 80%;
  margin: 16px auto 0 auto;
  border-radius: 50%;
  background-size: 100%;
  rotate: -25deg;
}
.menu-wrapper .page-title a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 1.4rem;
  word-break: break-all;
}
.menu-wrapper .sub-menu .description {
  color: #757575;
  margin-top: 32px;
}
.menu-wrapper .sub-menu ul {
  list-style: none;
  padding-left: 0;
  margin-top: 32px;
}
.menu-wrapper .sub-menu ul li {
  margin-top: 8px;
}
.menu-wrapper .sub-menu ul li a {
  color: #D30050;
  text-decoration: unset;
}

header {
  grid-row: 1;
  padding: 0 32px 0 32px;
  background: rgba(255, 255, 255, 0.5019607843);
  border: solid 1px rgba(0, 0, 0, 0.062745098);
}
header a {
  text-decoration: unset;
  color: unset;
}

main {
  margin: 0 32px 0 32px;
  width: 1080px;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

footer {
  grid-row: 3;
  padding: 16px;
  margin-top: 16px;
  background: rgba(255, 255, 255, 0.5019607843);
  border-top: solid 1px rgba(0, 0, 0, 0.062745098);
}

.wrap-margin {
  margin: 0 auto;
}

.menu-buttons {
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 1144px) {
  main {
    width: unset;
  }
  .wrap-margin {
    margin: unset;
  }
}
@media screen and (max-width: 440px) {
  header {
    margin-bottom: 16px;
  }
  main {
    margin: 0;
  }
  .articles {
    margin-top: 0;
  }
  .articles .page-title {
    margin-top: 0;
  }
  .menu-wrapper.menu-buttons {
    display: grid;
    margin-top: 16px;
  }
  .menu-wrapper.menu-buttons a button {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    border: solid 2px #D30050;
    border-radius: 4px;
    background-color: transparent;
    color: #D30050;
    cursor: pointer;
    transition: 0.3s;
  }
  .menu-wrapper.menu-buttons a button:hover {
    color: #ffffff;
  }
  .menu-wrapper.menu-buttons a#home-button {
    margin-right: 8px;
  }
  .menu-wrapper.menu-buttons a#archive-button {
    margin: 0px 8px;
  }
  .menu-wrapper.menu-buttons a#tags-button {
    margin-left: 8px;
  }
  .menu-wrapper {
    display: none;
  }
  .articles {
    grid-column: 1/span 12;
  }
}
ins.adsbygoogle {
  grid-row: 4;
}

.post-link {
  word-break: break-all;
  margin-bottom: 8px;
  padding: 16px;
  border-radius: 4px;
  display: block;
  border: solid 1px rgba(0, 0, 0, 0.062745098);
  background-color: rgba(255, 255, 255, 0.5019607843);
  color: #000000;
  transition: 0.5s;
}
.post-link .archive-post {
  color: #000000;
  font-size: 14px;
}
.post-link .archive-date, .post-link .archive-date a {
  color: rgba(0, 0, 0, 0.5019607843);
}
.post-link:hover {
  background-color: rgba(255, 255, 255, 0.062745098);
}
.post-link .post-link-area {
  margin-top: 4px;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #FFFFFF;
    background-color: #1C1C1C;
    background-image: linear-gradient(to right bottom, #291B21, #261C25);
  }
  .post-link {
    border: solid 1px rgba(255, 255, 255, 0.062745098);
    background-color: rgba(255, 255, 255, 0.062745098);
    color: #FFFFFF;
  }
  .post-link:hover {
    background-color: rgba(255, 255, 255, 0.1254901961);
  }
  .post-link .archive-post {
    color: #FFFFFF;
  }
  .post-link .archive-date, .post-link .archive-date a {
    color: rgba(255, 255, 255, 0.5019607843);
  }
  header {
    background: rgba(255, 255, 255, 0.062745098);
    border: solid 1px rgba(255, 255, 255, 0.062745098);
  }
  footer {
    background: rgba(255, 255, 255, 0.062745098);
    border-top: solid 1px rgba(255, 255, 255, 0.062745098);
  }
  .articles article {
    background-color: rgba(255, 255, 255, 0.062745098);
    border: solid 1px rgba(255, 255, 255, 0.062745098);
  }
  .articles article .posted-date {
    color: rgba(255, 255, 255, 0.5019607843);
  }
  .articles a {
    color: #FF529F;
  }
  .articles .page-title a {
    color: #FFFFFF;
  }
  .menu-wrapper menu {
    border: solid 1px rgba(255, 255, 255, 0.062745098);
    background: rgba(255, 255, 255, 0.062745098);
  }
  .menu-wrapper .page-title a {
    color: #FFFFFF;
  }
  .menu-wrapper .sub-menu ul li a {
    color: #FF529F;
  }
  .menu-wrapper .sub-menu .description {
    color: #9E9E9E;
  }
  menu.menu-buttons a button {
    color: #FF529F;
    border: solid 2px #FF529F;
  }
  menu.menu-buttons a button:hover {
    background-color: rgba(0, 255, 206, 0.5019607843);
    color: #FFFFFF;
  }
}

/*# sourceMappingURL=styles.css.map */