body .hljs {
  font-size: 1rem;
  border-radius: 8px;
}
body .hljs table.hljs-ln {
  border: unset;
}
body .hljs table.hljs-ln thead tr {
  background-color: unset;
}
body .hljs table.hljs-ln thead tr th {
  border: unset;
}
body .hljs table.hljs-ln tbody {
  font-size: 1rem;
}
body .hljs table.hljs-ln tbody tr td {
  border: unset;
}
body .hljs table.hljs-ln tbody tr td.hljs-ln-numbers {
  padding: 0 16px 0 16px;
  color: #808080;
  text-align: right;
}

code.hljs {
  font-family: "PlemolJP Console NF", "Cascadia Code", Consolas, "Courier New", monospace;
  font-weight: bold;
}

code.language-plaintext.highlighter-rouge {
  font-family: "PlemolJP Console NF", "Cascadia Code", Consolas, "Courier New", monospace;
  font-weight: bold;
  color: #E74856;
}

@media (prefers-color-scheme: dark) {
  code.language-plaintext.highlighter-rouge {
    color: #E81123;
  }
}
body {
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  min-height: 100vh;
  font-family: Helvetica, Arial, "BIZ UDPGothic", Meiryo;
  line-height: 1.5;
}

.articles {
  grid-column: 4/span 9;
  margin: 16px;
  word-break: break-all;
}
.articles a {
  color: #0078D7;
  text-decoration: unset;
}
.articles .page-title {
  margin-top: 48px;
}
.articles .page-title a {
  word-break: break-all;
  color: #0078D7;
  text-decoration: unset;
}
.articles img {
  max-width: 100%;
}

.archive-date a {
  color: #0078D7;
}

.post-link {
  color: #0078D7;
  word-break: break-all;
}

menu {
  grid-column: 1/span 3;
  padding-left: 0;
  margin-top: 64px;
}
menu .page-title a {
  text-decoration: none;
  color: #0078D7;
  font-weight: bold;
  font-size: 1.4rem;
  word-break: break-all;
}
menu .sub-menu .description {
  color: #757575;
  margin-top: 32px;
}
menu .sub-menu ul {
  list-style: none;
  padding-left: 0;
  margin-top: 32px;
}
menu .sub-menu ul li {
  margin-top: 8px;
}
menu .sub-menu ul li a {
  color: #0078D7;
  text-decoration: unset;
}

header {
  grid-row: 1;
  margin: 0 32px 0 32px;
}
header a {
  text-decoration: unset;
  color: unset;
}

main {
  margin: 0 32px 0 32px;
  width: 1080px;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

footer {
  grid-row: 3;
  padding: 16px;
  margin-top: 16px;
}

.wrap-margin {
  margin: 0 auto;
}

menu.menu-buttons {
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 1144px) {
  main {
    width: unset;
  }
  .wrap-margin {
    margin: unset;
  }
}
@media screen and (max-width: 440px) {
  main {
    margin: 0;
  }
  .articles {
    margin-top: 0;
  }
  .articles .page-title {
    margin-top: 0;
  }
  menu.menu-buttons {
    display: grid;
    margin-top: 16px;
  }
  menu.menu-buttons a button {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    border: solid 2px #0078D7;
    border-radius: 4px;
    background-color: transparent;
    color: #0078D7;
    cursor: pointer;
    transition: 0.3s;
  }
  menu.menu-buttons a button:hover {
    background-color: rgba(0, 120, 215, 0.5019607843);
    color: #ffffff;
  }
  menu.menu-buttons a#home-button {
    margin-right: 8px;
  }
  menu.menu-buttons a#archive-button {
    margin: 0px 8px;
  }
  menu.menu-buttons a#tags-button {
    margin-left: 8px;
  }
  menu {
    display: none;
  }
  .articles {
    grid-column: 1/span 12;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    color: #FFFFFF;
    background-color: #000000;
  }
  .articles a {
    color: #00FFCE;
  }
  .articles .page-title a {
    color: #00FFCE;
  }
  menu .page-title a {
    color: #00FFCE;
  }
  menu .sub-menu ul li a {
    color: #00FFCE;
  }
  menu .sub-menu .description {
    color: #9E9E9E;
  }
  menu.menu-buttons a button {
    color: #00FFCE;
    border: solid 2px #00FFCE;
  }
  menu.menu-buttons a button:hover {
    background-color: rgba(0, 255, 206, 0.5019607843);
    color: #FFFFFF;
  }
}
ins.adsbygoogle {
  grid-row: 4;
}

.archive-post {
  margin-top: 24px;
}
.archive-post .post-date a {
  background-color: unset;
  text-decoration: unset;
  color: unset;
}
.archive-post .post-link-area {
  margin-top: 8px;
}

/*# sourceMappingURL=styles.css.map */