body {
  color: #252020;
}
body a {
  color: #0017c1;
}
body a:hover {
  color: #000082;
}
body a:active {
  color: #000082;
}
body a:visited {
  color: #000082;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #252020;
    color: #ffffff;
  }
  body a {
    color: #00FFCE;
  }
  body a:hover {
    color: #00FFCE;
  }
  body a:active {
    color: #00FFCE;
  }
  body a:visited {
    color: #00FFCE;
  }
}
body button {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  border-radius: 8px;
  font-size: 16px;
  width: 256px;
  padding: 16px;
  border: unset;
  color: #0017c1;
  background-color: transparent;
  border: solid 1px #000082;
}
body button:hover {
  background-color: #e8f1fe;
}
body button:active {
  background-color: #e8f1fe;
}
body button:focus {
  padding: 14px 16px;
  border: 2px solid #d18d0f;
}
body button.disable-button {
  color: #949497;
  border: solid 1px #949497;
  pointer-events: none;
}
body button.primary {
  color: #ffffff;
  background-color: #0017c1;
}
body button.primary:hover {
  background-color: #000082;
}
body button.primary:active {
  background-color: #000082;
}
body button.primary:focus {
  background-color: #0017c1;
  padding: 14px 16px;
  border: 2px solid #d18d0f;
}
body button.primary.disable-button {
  background-color: #949497;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}
body h1 {
  font-weight: bold;
  font-size: 2.625rem;
}
body h2 {
  font-weight: bold;
  font-size: 2rem;
}
body h3 {
  font-weight: bold;
  font-size: 1.625rem;
}
body h4 {
  font-weight: bold;
  font-size: 1.375rem;
}
body h5 {
  font-weight: bold;
  font-size: 1.25rem;
}
body h6 {
  font-weight: bold;
  font-size: 1.125rem;
}

body .contents-footer {
  max-width: 1024px;
  margin: 48px auto 0 auto;
}
body .contents-footer .contents-margin {
  margin: 0 32px 0 32px;
}
body .grid-columns-1-2-1 {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
body .grid-columns-1-2-1 .left {
  margin-right: 16px;
}
body .grid-columns-1-2-1 .center {
  margin: 0 16px;
}
body .grid-columns-1-2-1 .right {
  margin-left: 16px;
}
body .grid-columns-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
body .grid-columns-1-1-1 .left {
  margin-right: 16px;
}
body .grid-columns-1-1-1 .center {
  margin: 0 16px;
}
body .grid-columns-1-1-1 .right {
  margin-left: 16px;
}
body .grid-columns-1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
body .grid-columns-1-1-1-1 .left {
  margin-right: 16px;
}
body .grid-columns-1-1-1-1 .left-center {
  margin: 0 16px;
}
body .grid-columns-1-1-1-1 .center-right {
  margin: 0 16px;
}
body .grid-columns-1-1-1-1 .right {
  margin-left: 16px;
}
body .grid-columns-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
body .grid-columns-1-1 .left {
  margin-right: 16px;
}
body .grid-columns-1-1 .right {
  margin-left: 16px;
}
body .grid-columns-3-1 {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
body .grid-columns-3-1 .left {
  margin-right: 16px;
}
body .grid-columns-3-1 .right {
  margin-left: 16px;
}
body .grid-columns-1-3 {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
body .grid-columns-1-3 .left {
  margin-right: 16px;
}
body .grid-columns-1-3 .right {
  margin-left: 16px;
}

body {
  color: #252020;
}
body a {
  color: #0017c1;
}
body a:hover {
  color: #000082;
}
body a:active {
  color: #000082;
}
body a:visited {
  color: #000082;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #252020;
    color: #ffffff;
  }
  body a {
    color: #00FFCE;
  }
  body a:hover {
    color: #00FFCE;
  }
  body a:active {
    color: #00FFCE;
  }
  body a:visited {
    color: #00FFCE;
  }
}
body {
  margin: 0;
  position: relative;
}
body blockquote {
  margin-left: 0;
  padding-left: 40px;
  border-left: solid 2px #e8e8eb;
}
body table {
  border-collapse: separate;
  border-spacing: 0;
  font-size: 0.8rem;
  border: 1px solid #e8e8eb;
}
body table thead tr {
  background-color: #f1f1f4;
}
body table thead tr th {
  border: 1px solid #e8e8eb;
  padding: 4px;
}
body table tbody tr td {
  border: 1px solid #e8e8eb;
  padding: 4px;
}
body img {
  max-width: 100%;
}
body .contents-footer .contents .prev {
  display: inline-block;
  text-decoration: unset;
  color: #0017c1;
  width: 50px;
  margin: 32px 0 16px 0;
}
body .contents-footer .contents .prev .prev.button {
  cursor: pointer;
  height: 24px;
  width: 24px;
  padding: 12px;
  text-align: center;
  border-radius: 25px;
  border: solid 1px #d8d8d8;
  transition: 0.2s;
}
body .contents-footer .contents .prev .prev.button:hover {
  border: solid 1px #0017c1;
  background-color: #e8f1fe;
}
body .contents-footer .contents .next {
  display: inline-block;
  text-decoration: unset;
  color: #0017c1;
  width: 50px;
  margin: 32px 0 16px 0;
}
body .contents-footer .contents .next .next.button {
  cursor: pointer;
  height: 24px;
  width: 24px;
  padding: 12px;
  text-align: center;
  border-radius: 25px;
  border: solid 1px #d8d8d8;
  transition: 0.2s;
}
body .contents-footer .contents .next .next.button:hover {
  border: solid 1px #0017c1;
  background-color: #e8f1fe;
}
body .contents-footer .contents .main-area .main-contents {
  line-height: 1.75;
}
body .contents-footer .contents .main-area .main-contents .page-title {
  line-height: 1.25;
  margin: 0 0 24px 0;
  margin-top: -4px;
  word-break: break-all;
}
body .contents-footer .contents .main-area .main-contents time {
  color: #626264;
}
body .contents-footer .contents .main-area .main-contents h2 {
  margin: 64px 0 24px 0;
  word-break: break-all;
}
body .contents-footer .contents .main-area .main-contents h3 {
  margin: 40px 0 24px 0;
  word-break: break-all;
}
body .contents-footer .contents .main-area .main-contents h4 {
  margin: 40px 0 16px 0;
  word-break: break-all;
}
body .contents-footer .contents .main-area .main-contents h5 {
  margin: 40px 0 16px 0;
  word-break: break-all;
}
body .contents-footer .contents .main-area .main-contents h6 {
  margin: 24px 0 16px 0;
  word-break: break-all;
}
body .contents-footer .contents .sidemenu {
  user-select: none;
}
body .contents-footer .contents .sidemenu .home-link {
  font-size: 28px;
  color: #252020;
  font-weight: bold;
  text-decoration: unset;
  display: block;
  margin-bottom: 48px;
}
body .contents-footer .contents .sidemenu .basic-menu {
  margin-top: 48px;
}
body .contents-footer .contents .sidemenu .basic-menu a {
  color: #0017c1;
  font-weight: bold;
  text-decoration: unset;
}
body .contents-footer .contents .sidemenu .basic-menu a:hover {
  text-decoration: underline;
}
body .contents-footer .contents .sidemenu .sub-menu-area .sub-menu {
  margin-bottom: 40px;
}
body .contents-footer .contents .sidemenu .sub-menu-area .sub-menu .description {
  margin-top: 40px;
  color: #626264;
  font-size: 12px;
  margin-bottom: 12px;
}
body .contents-footer .contents .sidemenu .sub-menu-area .sub-menu ul {
  padding-left: 0;
}
body .contents-footer .contents .sidemenu .sub-menu-area .sub-menu ul li {
  display: block;
  margin-bottom: 8px;
}
body .contents-footer .contents .sidemenu .sub-menu-area .sub-menu ul li a {
  color: #252020;
  font-weight: bold;
  text-decoration: unset;
  font-size: 14px;
}
body .contents-footer .contents .sidemenu .sub-menu-area .sub-menu ul li a:hover {
  text-decoration: underline;
}

body .contents-footer {
  display: grid;
  grid-template-rows: auto auto;
}
body .contents-footer footer {
  display: grid;
}
body .contents-footer .contents-margin .contents {
  grid-row-start: 1;
  grid-row-end: span 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr auto;
}
body .contents-footer .contents-margin .contents .main-area {
  grid-column-start: 4;
  grid-column-end: span 12;
  grid-row-start: 1;
  grid-row-end: 2;
}
body .contents-footer .contents-margin .contents .next-prev {
  display: grid;
  grid-template-columns: 2fr auto 1fr auto 2fr;
  grid-row-start: 3;
  grid-row-end: auto;
  grid-column-start: 1;
  grid-column-end: span 12;
}
body .contents-footer .contents-margin .contents .next-prev .prev {
  grid-column-start: 2;
  grid-column-end: auto;
}
body .contents-footer .contents-margin .contents .next-prev .next {
  grid-column-start: 4;
  grid-column-end: auto;
}
body .contents-footer .contents-margin .contents .sidemenu {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}

@media (prefers-color-scheme: dark) {
  body blockquote {
    border-left: solid 2px #626264;
  }
  body table {
    border: 1px solid #626264;
  }
  body table thead tr {
    background-color: #414143;
  }
  body table thead tr th {
    border: 1px solid #626264;
  }
  body table tbody tr td {
    border: 1px solid #626264;
  }
  body .contents-footer .contents .prev {
    color: #ffffff;
  }
  body .contents-footer .contents .prev .prev.button {
    border: solid 1px #d8d8d8;
  }
  body .contents-footer .contents .prev .prev.button:hover {
    border: solid 1px #ffffff;
    background-color: #414143;
  }
  body .contents-footer .contents .next {
    color: #ffffff;
  }
  body .contents-footer .contents .next .next.button {
    border: solid 1px #d8d8d8;
  }
  body .contents-footer .contents .next .next.button:hover {
    border: solid 1px #ffffff;
    background-color: #414143;
  }
  body .contents-footer .contents .main-area .main-contents time {
    color: #b4b4b7;
  }
  body .contents-footer .contents .sidemenu .home-link {
    color: #ffffff;
  }
  body .contents-footer .contents .sidemenu .basic-menu a {
    color: #00FFCE;
  }
  body .contents-footer .contents .sidemenu .sub-menu-area .sub-menu .description {
    color: #b4b4b7;
  }
  body .contents-footer .contents .sidemenu .sub-menu-area .sub-menu ul li a {
    color: #ffffff;
  }
}
@media screen and (max-width: 910px) {
  body .contents-footer .contents-margin .contents .main-area {
    grid-column-start: 4;
    grid-row-start: 1;
  }
  body .contents-footer .contents-margin .contents .sidemenu {
    grid-column-start: 1;
    grid-column-end: span 3;
    margin-right: 32px;
  }
  body .contents-footer .contents-margin .contents .sidemenu .home-link {
    font-size: 24px;
  }
  body #aswift_1_host {
    width: 100px !important;
  }
  body #aswift_1_host #aswift_1 {
    width: 100% !important;
  }
}
@media screen and (max-width: 600px) {
  body .contents-footer .contents-margin .contents .main-area {
    grid-column-start: 1;
    grid-column-end: span 12;
    grid-row-start: 2;
  }
  body .contents-footer .contents-margin .contents .sidemenu {
    margin-right: 0px;
    grid-column-start: 1;
    grid-column-end: span12;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  body .contents-footer .contents-margin .contents .sidemenu .home-link {
    margin-bottom: 16px;
  }
  body .contents-footer .contents-margin .contents .sidemenu .sub-menu-area {
    display: none;
  }
}
@media (max-width: 600px) and (prefers-color-scheme: dark) {
  body {
    background-color: #000000 !important;
  }
}
body {
  color: #252020;
}
body a {
  color: #0017c1;
}
body a:hover {
  color: #000082;
}
body a:active {
  color: #000082;
}
body a:visited {
  color: #000082;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #252020;
    color: #ffffff;
  }
  body a {
    color: #00FFCE;
  }
  body a:hover {
    color: #00FFCE;
  }
  body a:active {
    color: #00FFCE;
  }
  body a:visited {
    color: #00FFCE;
  }
}
body .index {
  margin-bottom: 64px;
}
body .index .page-title a {
  word-break: break-all;
  text-decoration: unset;
  color: #252020;
}
body .index .page-title a:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  body .index .page-title a {
    color: #ffffff;
  }
}
body {
  color: #252020;
}
body a {
  color: #0017c1;
}
body a:hover {
  color: #000082;
}
body a:active {
  color: #000082;
}
body a:visited {
  color: #000082;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #252020;
    color: #ffffff;
  }
  body a {
    color: #00FFCE;
  }
  body a:hover {
    color: #00FFCE;
  }
  body a:active {
    color: #00FFCE;
  }
  body a:visited {
    color: #00FFCE;
  }
}
body .archive-date a {
  color: #252020;
  text-decoration: unset;
}
body .archive-date a:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  body .archive-date a {
    color: #ffffff;
  }
}
body {
  color: #252020;
}
body a {
  color: #0017c1;
}
body a:hover {
  color: #000082;
}
body a:active {
  color: #000082;
}
body a:visited {
  color: #000082;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #252020;
    color: #ffffff;
  }
  body a {
    color: #00FFCE;
  }
  body a:hover {
    color: #00FFCE;
  }
  body a:active {
    color: #00FFCE;
  }
  body a:visited {
    color: #00FFCE;
  }
}
body .hljs {
  font-size: 1rem;
  border-radius: 8px;
}
body .hljs table.hljs-ln {
  border: unset;
}
body .hljs table.hljs-ln thead tr {
  background-color: unset;
}
body .hljs table.hljs-ln thead tr th {
  border: unset;
}
body .hljs table.hljs-ln tbody {
  font-size: 1rem;
}
body .hljs table.hljs-ln tbody tr td {
  border: unset;
}
body .hljs table.hljs-ln tbody tr td.hljs-ln-numbers {
  padding: 0 16px 0 16px;
  color: #757578;
  text-align: right;
}

.sp-menu-btn {
  display: none;
}

@media (max-width: 600px) {
  .sp-menu-btn {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 32px;
  }
  .sp-menu-btn #sp-btn-home {
    grid-column-start: 1;
    grid-column-end: auto;
    margin-right: 8px;
  }
  .sp-menu-btn #sp-btn-archive {
    grid-column-start: 2;
    grid-column-end: auto;
    margin: 0 4px 0 4px;
  }
  .sp-menu-btn #sp-btn-tabs {
    grid-column-start: 3;
    grid-column-end: auto;
    margin-left: 8px;
  }
  .sp-menu-btn button {
    color: #0017c1;
    border-color: #0017c1;
    width: auto;
    height: auto;
    padding: 12px;
    font-size: 14px;
  }
  .sp-menu-btn button a {
    text-decoration: unset;
    color: #0017c1;
  }
}
@media (max-width: 600px) and (prefers-color-scheme: dark) {
  .sp-menu-btn button {
    border-color: #00FFCE;
    color: #00FFCE;
  }
  .sp-menu-btn button a {
    text-decoration: unset;
    color: #00FFCE;
  }
}

/*# sourceMappingURL=styles.css.map */