<!DOCTYPE html>
<html lang="ja">

<head>
    {% include head.html %}
</head>

<body>
    <header>
        {% include header.html %}
    </header>
    <div class="wrap-margin">
        <main>
            <menu>
                {% include menu.html %}
            </menu>
            <div class="articles">
                <h1 class="page-title">{{ page.title }}</h1>
                <time class="posted-date">{{ page.date | date: "%Y-%m-%d" }}</time>
                {{ content }}
            </div>
        </main>
    </div>
    <footer>
        {% include footer.html %}
    </footer>
</body>

</html>