<!DOCTYPE html>
<html lang="ja">

<head>
    {% include head.html %}
</head>

<body>
    <header>
        {% include header.html %}
    </header>
    <div class="wrap-margin">
        <div>
            {% include sp-menu.html %}
        </div>
        <main>
            <div class="articles">
                {{ content }}
            </div>
            <div class="menu-wrapper">
                <menu>
                    {% include menu.html %}
                </menu>
            </div>
        </main>
    </div>
    <footer>
        {% include footer.html %}
    </footer>
</body>

</html>